@model DTO.WDay

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row d-flex mb-2">
                <div class="form-group col-5 me-1">
                    <label for="KidId" class="control-label">Kid</label>
                    <select class="form-control" name="KidId" id="KidId">
                        <option value="">-- Select Kid --</option>
                        @foreach (var kid in (List<DTO.Kid>)ViewBag.Kids)
                        {
                            <option value="@kid.Id">@kid.Name</option>
                        }
                    </select>
                </div>

                <div class="form-check form-switch col-4 mt-4 ms-2 mb-2">
                    <label class="control-label">With siblings</label>
                    <input class="form-check-input" type="checkbox" id="siblingsSwitch" name="siblingsSwitch">
                </div>
            </div>

            <div class="form-group col-9 mb-2">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" min="@(DateTime.Today.ToString())"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group col-9 mb-2">
                <label for="PriceId" class="control-label">Price</label>
                <select class="form-control" name="PriceId" id="PriceId">
                    <option value="">-- Select Price --</option>
                    @foreach (var price in (List<DTO.Price>)ViewBag.Prices)
                    {
                        <option value="@price.Id">@(price.Value + " - " + price.Label)</option>
                    }
                </select>
            </div>

            <div id="timeContainer" class="mb-5">
                <div class="form-row mb-2 d-flex">
                    <div class="form-group col-4 me-3">
                        <label class="control-label">Arrival</label>
                        <input class="form-control" type="time" name="arrivalHours"/>
                    </div>

                    <div class="form-group col-4 me-4 ms-3">
                        <label class="control-label">Departure</label>
                        <input class="form-control" type="time" name="departureHours"/>
                    </div>

                    <div class="form-group col-2 mt-4">
                        <button type="button" class="btn btn-success" onclick="addTime()">
                            +
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div id="timeTemplate" style="display: none;">
    <div class="form-row mb-2 d-flex">
        <div class="form-group col-4 me-3">
            <label class="control-label">Arrival</label>
            <input class="form-control" type="time" name="arrivalHours" />
        </div>

        <div class="form-group col-4 me-4 ms-3">
            <label class="control-label">Departure</label>
            <input class="form-control" type="time" name="departureHours" />
        </div>

        <div class="form-group col-2 mt-4">
            <button type="button" class="btn btn-danger" onclick="removeTime(this)">
                -
            </button>
        </div>
    </div>
</div>

<script>
    function addTime(){
        const template = document.getElementById('timeTemplate').innerHTML;
        document.getElementById('timeContainer').insertAdjacentHTML('beforeend', template);
    }
    
    function removeTime(button) {
        button.closest('.form-row').remove();
    }
</script>