@model IEnumerable<DTO.WDay>
@using WebApp.src

@inject LocaleService SharedLocalizer

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@SharedLocalizer.GetLocalizedString("Create")</a>
</p>
<table class="table table-hover table-striped">
    <thead class="table-light">
        <tr>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Date))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Arrival))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Departure))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Kid))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Price))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
            <td>
                @Html.DisplayFor(model => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(model => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(model => item.Kid.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price.Value)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedString("Edit")</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedString("Details")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedString("Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
