@model IEnumerable<DTO.WDay>
@using WebApp.src

@inject LocaleService SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedString("WDay");
}

<h1>@SharedLocalizer.GetLocalizedString("WDay")</h1>

<p>
    <a asp-action="Create">@SharedLocalizer.GetLocalizedString("Create")</a>
</p>
<table class="table table-hover table-striped">
    <thead class="table-light">
        <tr>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Date))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Arrival))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Departure))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Kid))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Price))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
            <td>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>@Html.DisplayFor(model => item.Arrival)</span>

                    <form asp-action="UpdateTime" method="post" style="display:@(item.Date == DateOnly.FromDateTime(DateTime.Today) ? "inline" : "none"); margin: 0;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="Date" value="@item.Date.ToString("o")" />
                        <input type="hidden" name="Arrival" value="@item.Arrival?.ToString()" />
                        <input type="hidden" name="Departure" value="@item.Departure?.ToString()" />
                        <input type="hidden" name="Price.Value" value="@item.Price?.Value.ToString()" />
                        <input type="hidden" name="Kid.Id" value="@item.Kid.Id" />
                        <input type="hidden" name="Kid.Name" value="@item.Kid.Name" />
                        <input type="hidden" name="Kid.LastName" value="@item.Kid.LastName" />
                        <input type="hidden" name="Kid.Birthdate" value="@item.Kid.BirthDate?.ToString()" />
                        <input type="hidden" name="Kid.IsDeleted" value="@item.Kid.IsDeleted" />
                        <input type="hidden" name="Price.Id" value="@item.Price?.Id" />
                        <input type="hidden" name="Price.Label" value="@item.Price?.Label" />
                        <input type="hidden" name="Price.IsDeleted" value="@item.Price?.IsDeleted" />

                        <input type="hidden" name="IsArrival" value="true" />

                        <button type="submit" class="btn btn-info btn-sm" title="Update Arrival">
                            <i class="fa-regular fa-clock"></i>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>@Html.DisplayFor(model => item.Departure)</span>

                    <form asp-action="UpdateTime" method="post" style="display:@(item.Date == DateOnly.FromDateTime(DateTime.Today) ? "inline" : "none"); margin: 0;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="Date" value="@item.Date.ToString("o")" />
                        <input type="hidden" name="Arrival" value="@item.Arrival?.ToString()" />
                        <input type="hidden" name="Departure" value="@item.Departure?.ToString()" />
                        <input type="hidden" name="Price.Value" value="@item.Price?.Value.ToString()" />
                        <input type="hidden" name="Kid.Id" value="@item.Kid.Id" />
                        <input type="hidden" name="Kid.Name" value="@item.Kid.Name" />
                        <input type="hidden" name="Kid.LastName" value="@item.Kid.LastName" />
                        <input type="hidden" name="Kid.Birthdate" value="@item.Kid.BirthDate?.ToString()" />
                        <input type="hidden" name="Kid.IsDeleted" value="@item.Kid.IsDeleted" />
                        <input type="hidden" name="Price.Id" value="@item.Price?.Id" />
                        <input type="hidden" name="Price.Label" value="@item.Price?.Label" />
                        <input type="hidden" name="Price.IsDeleted" value="@item.Price?.IsDeleted" />

                        <input type="hidden" name="IsArrival" value="false" />

                        <button type="submit" class="btn btn-info btn-sm" title="Update Departure">
                            <i class="fa-regular fa-clock"></i>
                        </button>
                    </form>
                </div>
            </td>
            <td>
                @Html.DisplayFor(model => item.Kid.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedString("Edit")</a> |
                <form asp-action="Delete" method="post" style="display: inline;">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">
                    @SharedLocalizer.GetLocalizedString("Delete")
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel-@item.Id" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel-@item.Id">@SharedLocalizer.GetLocalizedString("Confirm Delete")</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    @SharedLocalizer.GetLocalizedString("Are you sure you want to delete this WDay? This action cannot be undone.")
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@SharedLocalizer.GetLocalizedString("Cancel")</button>
                                <button type="submit" class="btn btn-danger">@SharedLocalizer.GetLocalizedString("Delete")</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
