@model IEnumerable<DTO.InvoiceSummary>
@using WebApp.src

@inject LocaleService SharedLocale

@{
    ViewData["Title"] = SharedLocale.GetLocalizedString("Invoice");

    var kidnames = Model.Select(m => m.KidName).Distinct().ToList();
    String kidsDisplayNames = "";
    for(int i = 0; i < kidnames.Count; i++)
    {
        kidsDisplayNames += kidnames[i];
        if(i < kidnames.Count -1)
        {
            kidsDisplayNames += ", ";
        }
    }

    string downloadName = "";
    foreach (var kidname in kidnames)
    {
        downloadName += kidname + ", ";
    }
    downloadName = downloadName.Remove(downloadName.Length - 2);

    string period = ViewBag.periodStart + " - " + ViewBag.periodEnd;
}
<h3 class="mb-1 mt-4">@period</h3>
<h4 class="mb-2">@kidsDisplayNames</h4>

@{
    // Calculate total hours in hours and minutes
    float totalHours = Model.First().TotalHours;
    int nbHours = (int)totalHours;
    double nbMinutes = Math.Round((totalHours - nbHours) * 60);

    int inbMinutes = 15 * (int)Math.Round(nbMinutes / 15, MidpointRounding.ToNegativeInfinity);

    string tHours = $"{nbHours.ToString().PadLeft(2, '0')}:{nbMinutes.ToString().PadLeft(2, '0')}";


    double amount = Math.Round(Model.First().TotalAmount, 2, MidpointRounding.ToNegativeInfinity);
}

<div id="content">
    <div class="d-flex justify-content-between align-items-start mb-5">
        <!-- Left: Table -->
        <table class="mb-0 table table-sm table-borderless" style="font-size: 1.1em">
            <tr>
                <td style="padding: 2px 0; line-height: 1.1;">@(SharedLocale.GetLocalizedString("Total hours")): &#9;@tHours</td>
            </tr>
            <tr>
                <td style="padding: 2px 0; line-height: 1.1;">@(SharedLocale.GetLocalizedString("Amount")): &#9;@amount CHF</td>
            </tr>
        </table>

        <!-- Right: Buttons -->
        <div class="d-flex gap-2 no-print">
            <button class="btn btn-sm btn-success square-btn no-print" type="button" id="printIcon" onclick="printSummary()">
                <i class="fa-solid fa-print"></i>
            </button>
            <button class="btn btn-sm btn-primary square-btn no-print" type="button" id="downloadButton" onclick="downloadButton()">
                <i class="fa-solid fa-download"></i>
            </button>
        </div>
    </div>


    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>
                    @SharedLocale.GetLocalizedString("Date")
                </th>
                <th>
                    @SharedLocale.GetLocalizedString("KidName")
                </th>
                <th>
                    @SharedLocale.GetLocalizedString("Label")
                </th>
                <th>
                    @SharedLocale.GetLocalizedString("Hours")
                </th>
                <th>
                    @SharedLocale.GetLocalizedString("Amount")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @{
                            // Display item.Hours in hh : mm format
                            int itemHours = (int)item.Hours;
                            int itemMinutes = (int)((item.Hours - itemHours) * 60);

                            string itHours = $"{itemHours}:{itemMinutes}";
                        }
                        @itHours
                    </td>
                    <td>
                        @{
                            // Display rounded amount
                            double roundedAmount = Math.Round(item.Amount, 2, MidpointRounding.ToNegativeInfinity);
                        }
                        @roundedAmount
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function printSummary(){
        window.print();
    }
    function downloadButton(){
        // Hide all elements with the "no-print" class
        const elementsToHide = document.querySelectorAll('.no-print');
        elementsToHide.forEach(el => el.style.display = 'none');

        // Download document and then display again the hidden elements
        const element = document.getElementById('content');
        const options = {
            margin: [10, 10],
            image: {
                type: 'jpeg',
                quality: 0.98
            },
            filename: "@(period) - @(downloadName) - Invoice.pdf",
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };
        html2pdf().from(element).set(options).save().then(() => {
            elementsToHide.forEach(el => el.style.display = '');
        });
    }
</script>