@using WebApp.src
@model DTO.Kid

@inject LocaleService SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedString("Create New Kid");
}

<h1>@SharedLocalizer.GetLocalizedString("Create New Kid")</h1>

<h4>@SharedLocalizer.GetLocalizedString("Kid")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" type="date"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display: none;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" value="false"/> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="@SharedLocalizer.GetLocalizedString("Create Kid")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Kids">@SharedLocalizer.GetLocalizedString("Back")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
