@using System.Globalization
@using WebApp.src
@inject LocaleService SharedLocalizer

@model IEnumerable<DTO.Kid>

@{
    ViewData["Title"] = "Kids";
}

<h1>Kids</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.Name))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.LastName))
            </th>
            <th>
                @SharedLocalizer.GetLocalizedString(Html.DisplayNameFor(model => model.IsDeleted))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedString("Edit")</a> |
                @Html.ActionLink(SharedLocalizer.GetLocalizedString("Details"), "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink(SharedLocalizer.GetLocalizedString("Delete"), "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
